[submodule "fei"]
	path = fei
	url = https://github.com/Hiramrr/fei.git
[submodule "Poema"]
	path = Poema
	url = https://github.com/Hiramrr/Poema.git
[submodule "Ecommerce"]
	path = Ecommerce
	url = https://github.com/Hiramrr/Ecommerce.git
